@font-face {
  font-family: "Karla";
  src: url("fonts/Karla/static/Karla-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Markazi";
  src: url("fonts/Markazi_Text/static/MarkaziText-Medium.ttf") format("truetype");
  font-style: normal;
}

/*@media (min-width: 440px) {
  .container {
  grid-template-columns: 150px 1fr 150px;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header header header"
                       "left main right"
                       "footer footer footer";
  }
}*/

html {
  margin: 0;
  background-color: #EDEFEE;
  font-family: 'Karla';
}

p, div {
  font-size: 1vw;
  font-family: 'Karla';
}

li {
  font-size: 1.5vw;
  font-family: 'Karla';
}

h1{
  font-size: 4vw;
  font-family: 'Markazi';
}

h2{
  font-size: 3vw;
  font-family: 'Markazi';
}

.body {
  display: grid;
  grid-template-rows: repeat(7, auto);
  grid-template-columns: auto;
  grid-template-areas:
    "header"
    "call-to-action"
    "specials"
    "customers-say"
    "donostia"
    "booking"
    "footer";
}

nav {
  display: grid;
  grid-area: header;
  padding: 2rem 15%;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas: "logo ul ul ul ul ul ul";
}

nav header {
  display: grid;
  grid-area: logo;
  place-items: center;
}

nav header .logo {
  width: 100%;
  align-items: left;
}

nav ul {
  display: grid;
  grid-area: ul;
  padding-left: 5%;
  grid-template-columns: 14% 14% 14% 22% 22% 14%;
  place-items: center;
  list-style: none;
  text-align: center;
}

nav ul li {
  color: #333333;
  font-weight: 300;
}

.call-to-action {
  display: grid;
  background-color: #495E57;
  grid-area: call-to-action;
  grid-template-rows: auto;
  grid-template-columns: 50% 50%;
  grid-template-areas: "text photo";
  padding: 2% 15%;
}

.call-to-action .text {
  display: grid;
  background-color: #495E57;
  grid-template-rows: 15% 15% 45% 25%;
  grid-area: text;
  padding: 10% 0;
  margin-right: 25%;
}

.call-to-action .text h1 {
  font-size: 4vw;
  font-family: 'Markazi';
  background-color: #495E57;
  color: #EDEFEE;
}

.call-to-action .text h2 {
  font-size: 3vw;
  font-family: 'Markazi';
  background-color: #495E57;
  color: #F4CE14;
}

.call-to-action .text p {
  font-size: 1.5vw;
  background-color: #495E57;
  color: #EDEFEE;
}

.call-to-action .text div {
  background-color: #495E57;
  color: #EDEFEE;
  padding: 10% 0;
}

.call-to-action .text div .button {
  height: 50px;
  width: 200px;
  font-size: 1rem;
  background-color: #F4CE14;
  color: #333333;
}

.call-to-action .food {
  display: grid;
  grid-area: photo;
  place-items: center;
  background-color: #495E57;
  justify-content: end;
  margin: 1.5rem 0;
}

.call-to-action .food img {
  width: 100%;
  max-width: 1500px;
  height: auto;
  object-fit: cover;
  border-radius: 8%;
}

.specials {
  display: grid;
  grid-area: specials;
  place-items: center;
  grid-template-rows: auto 70%;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-areas:
    "heading heading button"
    "special1 special2 special3";
  padding: 4% 15% 10% 15%;
}

.specials h1{
  display: grid;
  grid-area: heading;
  width: 100%;
  text-align: left;
  padding: 5% 0 5% 5%;
}

.specials .specials-button{
  display: grid;
  grid-area: button;
  width: 100%;
  justify-content: end;
  padding: 5% 15% 5% 0;
}

.specials .specials-button .button {
  height: 50px;
  width: 200px;
  font-size: 1rem;
  background-color: #F4CE14;
  color: #333333;
}

.special1, .special2, .special3 {
  display: grid;
  place-items: center;
  height: 100%;
  text-align: left;
  grid-template-rows: 40% 15% 30% 15%;
  grid-template-areas:
    "photo"
    "name"
    "description"
    "button";
  margin: 0 5%;
  background-color: #FBDABB;
  width: 80%;
  border-radius: 8%;
  filter: drop-shadow(8px 8px 10px #333333);
}

.specials img {
  display: grid;
  grid-area: photo;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 8%;
  border-top-right-radius: 8%;
}

.specials .name {
  display: grid;
  place-items: center;
  grid-area: name;
  width: 80%;
  grid-template-columns: auto 25%;
  grid-template-areas: "name price";
  background-color: #FBDABB;
}

.specials .name h3 {
  display: grid;
  grid-area: name;
  font-size: 1.5vw;
  width: 100%;
  background-color: #FBDABB;
}

.specials .name #price {
  display: grid;
  grid-area: price;
  width: 100%;
  text-align: right;
  background-color: #FBDABB;
}

.specials #description {
  display: grid;
  grid-area: description;
  width: 80%;
  background-color: #FBDABB;
}

.specials .order {
  display: grid;
  grid-area: button;
  width: 80%;
  text-align: left;
  background-color: #FBDABB;
}

.specials .order a {
  font-size: 1.2vw;
  background-color: #FBDABB;
}

.specials .special1 {
  grid-area: special1;
}

.specials .special2 {
  grid-area: special2;
}

.specials .special3 {
  grid-area: special3;
}

.customers-say {
  display: grid;
  grid-area: customers-say;
  place-items: center;
  gap: 5%;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto auto;
  grid-template-areas:
    "title title title title"
    "testimonial1 testimonial2 testimonial3 testimonial4";
  padding: 4% 15% 10% 15%;
  background-color: #F4CE14;
}

.testimonial1, .testimonial2, .testimonial3, .testimonial4 {
  display: grid;
  place-items: center;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto;
  grid-template-areas:
    "stars stars"
    "photo name"
    "description description";
  padding: 10% 15%;
  background-color: #EDEFEE;
  filter: drop-shadow(8px 8px 10px #333333);
}

.customers-say h1 {
  display: grid;
  grid-area: title;
  place-items: center;
  color: #333333;
  background-color: #F4CE14;
  padding-bottom: 3%;
}

.customers-say #stars {
  display: grid;
  grid-area: stars;
  width: 100%;
  text-align: left;
  padding-bottom: 15%;
}

.customers-say svg {
  height: auto;
  max-width: 150px;
  width: 70%;
}

.customers-say .pic {
  display: grid;
  grid-area: photo;
  width: 100%;
  text-align: left;
}

.customers-say img {
  height: auto;
  max-width: 80px;
  width: 80%;
  border-radius: 100%;
}

.customers-say .description {
  display: grid;
  grid-area: description;
  width: 100%;
  text-align: left;
  padding-top: 10%;
}

.customers-say h3 {
  font-size: 1.3vw;
  font-weight: bold;
}

.customers-say p {
  font-size: 1.2vw;
}

.testimonial1 {
  display: grid;
  grid-area: testimonial1;
}

.testimonial2 {
  display: grid;
  grid-area: testimonial2;
}

.testimonial3 {
  display: grid;
  grid-area: testimonial3;
}

.testimonial4 {
  display: grid;
  grid-area: testimonial4;
}

.donostia {
  display: grid;
  grid-area: donostia;
  grid-template-rows: auto;
  grid-template-columns: 60% 40%;
  grid-template-areas: "text photo";
  padding: 2% 15% 7% 15%;
  background-color: #333333;
}

.donostia .text {
  display: grid;
  grid-template-rows: 13% 15% auto auto;
  grid-area: text;
  margin: 5% 25% 0 0;
  color: #EDEFEE;
  background-color: #333333;
}

.donostia .text h1 {
  color: #EDEFEE;
  background-color: #333333;
}

.donostia .text h2{
  color: #F4CE14;
  background-color: #333333;
}

.donostia .text p {
  font-size: 2vw;
  background-color: #333333;
}

.donostia .chefs {
  display: grid;
  grid-area: photo;
  position: relative;
  margin: 25% 0;
  background-color: #333333;
}

.donostia .chefs #top {
  position: absolute;
  margin: 12% 0 0 20%;
  width: 100%;
  max-width: 80%;
  height: auto;
}

.donostia .chefs #bottom {
  background-color: blueviolet;
  margin: 52% 0 0 0;
  width: 100%;
  max-width: 80%;
  height: auto;
}

.booking {
  display: grid;
  grid-area: booking;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  padding: 4% 15% 10% 15%;
  background-color: #495E57;
  color: #EDEFEE;
}

.booking form {
  display: grid;
}

.booking .stack {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 50% 50%;
  gap: 5%;
  grid-template-areas:
    "date time"
    "guests occasion"
    "button button";
}

.booking form .date {
  display: grid;
  grid: date;
}

.booking form .time {
  display: grid;
  grid: time;
}

.booking form .guests {
  display: grid;
  grid: guests;
  width: 100%;
}

.booking form .occasion {
  display: grid;
  grid: occasion;
  width: 100%;
}

.booking .top-label {
  display: grid;
  font-size: 1.2vw;
  width: 100%;
  text-align: left;
  padding: 1% 0 0 2%;
}

.booking .bottom-label {
  display: grid;
  font-size: 1.2vw;
  width: 100%;
  text-align: left;
  padding: 3% 0 0 2%;
}

.booking form .button {
  display: grid;
  font-size: 1.2vw;
  grid-area: button;
  background-color: #F4CE14;
  color: #333333;
  margin-top: 5%;
}

footer {
  display: grid;
  grid-area: footer;
  grid-template-columns: auto auto auto auto;
  grid-template-areas:
    "logo nav contact social";
  padding: 7% 15%;
}

footer ul {
  margin: 0;
  list-style: none;
}

.confirmed-booking h1 {
    font-size: 4vw;
    font-family: 'Markazi';
    color: #495E57;
}

.confirmed-booking h2 {
  font-size: 3vw;
  font-family: 'Markazi';
  color: #333333;
}

.confirmed-booking .button {
  font-size: 1.2vw;
  height: 50px;
  background-color: #495E57;
  color: #EDEFEE;
  margin-top: 5%;
}

.confirmed-booking .button:hover {
  color: #495E57;
  background-color: #F4CE14;
  margin-top: 5%;
}